@import '../common/var';
@import '../common/functions';
@import '../common/mixins/alert.scss';

.c-alert {
  padding: 10px 20px;
  border: 1px solid $border-color-base;
  background-color: $bg-color-default-light;
  border-radius: $border-radius-base;
  position: relative;
  display: flex;
  align-items: center;

  .c-alert-content {
    display: table-cell;
  }

  .c-alert-title {
    font-weight: bold;
    font-size: $font-size-base;
    margin-bottom: 5px;
  }

  .c-alert-description {
    font-size: $font-size-sm;
    margin: 0;
  }

  .c-alert-icon {
    margin-right: 10px;
    line-height: 1;

    @include when(big-icon) {
      font-size: 30px;
      width: 30px;
    }
  }

  .c-alert-close-text {
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
    font-size: $font-size-base;
  }

  .c-alert-close-icon {
    position: absolute;
    font-size: $font-size-lg;
    line-height: 1;
    top: 13px;
    right: 20px;
    cursor: pointer;
  }

  /* Color variations
  --------------------------------- */
  @each $c, $v in $colors {
    @include when('#{$color-prefix}-#{$c}') {
      @include make-colored-alert($v);
      
      @include when(outlined) {
        @include make-outlined-alert($v);
      }
    }
  }
}