@import '../common/var.scss';
@import '../common/functions.scss';
@import '../common/mixins/mixins.scss';
@import '../common/mixins/checkbox.scss';

.c-checkbox {
  line-height: 1;
  position: relative;
  cursor: pointer;
  outline: none;
  font-size: $font-size-base;
  margin-right: 12px;
  vertical-align: middle;
  
  @each $c, $v in $colors {
    @include when('#{$color-prefix}-#{$c}') {
      @include make-colored-checkbox($v);
    }
  }

  @include when('is-disabled') {
    color: $font-color-mute;
    cursor: not-allowed;

    .c-checkbox-inner {
      border: 1px solid $border-color-base;
      cursor: not-allowed;
    }
  }

  .c-checkbox-label {
    padding-left: 5px;
  }

  .c-checkbox-input {
    vertical-align: middle;
  }

  .c-checkbox-inner {
    width: $font-size-base;
    height: $font-size-base;
    border: 1px solid $border-color-medium;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #ffffff;
    position: relative;
    display: inline-block;
    cursor: pointer;

    @include when('is-checked') {
      background-color: $bg-color-default-dark;

      &::after {
        transform: rotate(45deg) scaleY(1);
      }
    }

    &::after {
      box-sizing: content-box;
      content: '';
      color: #ffffff;
      font-weight: 500;
      border: 2px solid #ffffff;
      border-left: 0;
      border-top: 0;
      height: 8px;
      width: 4px;
      position: absolute;
      top: 0px;
      left: 3px;
      transform: rotate(45deg) scaleY(0);
      transform-origin: center;
      transition: transform .2s ease-in;
    }

    & + input {
      opacity: 0;
      outline: none;
      z-index: -9;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}