@import '../common/var.scss';
@import '../common/functions.scss';
@import '../common/mixins/mixins.scss';

/* dropdown-item
----------------------------------- */
.c-dropdown-item {
  list-style: none;
  padding: 8px 16px;
  cursor: pointer;
  font-size: $font-size-base;
  line-height: $line-height-base;
  vertical-align: middle;
  color: $font-color-common;

  @include when('is-divided') {
    margin-top: 6px;
    border-top: 1px solid color('grey-300');

    &::before {
      content: "";
      height: 6px;
      display: block;
      background-color: #ffffff;
      margin: 0 -16px;
      position: relative;
      top: -8px;
    }
  }

  .c-icon {    
    line-height: $line-height-base;
    font-size: $line-height-base;
    margin-right: 6px;
  }

  &:hover {
    color: $primary-color;
    background-color: mix($primary-color, #ffffff, 10%);
  }
}

/* dropdown-menu
----------------------------------- */
.c-dropdown-list {
  z-index: 9;
}
.c-dropdown-menu {
  box-shadow: $box-shadow-light;
  padding: 5px 0;
  margin: 5px 0;
  background-color: #ffffff;

  @include when('constrain-length') {
    .c-dropdown-item {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  @include when('constrain-height') {
    overflow-y: scroll;
  }
}

.c-dropdown {
  display: inline-block;

  @each $c, $v in $colors {
    @include when('#{$color-prefix}-#{$c}') {
      .c-dropdown-menu {
        @include set-colors($v);
      }
      .c-dropdown-item {
        color: color-contrast($v);
        &:hover {
          color: $v;
          background-color: #ffffff;
        }

        @include when('is-divided') {
          margin-top: 6px;
          border-top: 1px solid color-contrast($v);
      
          &::before {
            content: "";
            height: 6px;
            display: block;
            background-color: $v;
            margin: 0 -16px;
            position: relative;
            top: -8px;
          }
        }
      }
    }
  }
}