@import '../common/var.scss';
@import '../common/functions.scss';
@import '../common/mixins/mixins.scss';

/* dropdown-item
----------------------------------- */
.c-dropdown-item {
  list-style: none;
  padding: 8px 16px;
  cursor: pointer;
  font-size: $font-size-base;
  line-height: $line-height-base;
  background-color: #ffffff;
  vertical-align: middle;

  .c-icon {    
    line-height: $line-height-base;
    font-size: $line-height-base;
    margin-right: 6px;
  }

  &:hover {
    color: $primary-color;
    background-color: mix($primary-color, #ffffff, 10%);
  }
}

/* dropdown-menu
----------------------------------- */
.c-dropdown-list {
  z-index: 9;
}
.c-dropdown-menu {
  box-shadow: $box-shadow-light;
  padding: 5px 0;
  margin: 5px 0;
  background-color: #ffffff;

  @include when('constrain-length') {
    .c-dropdown-item {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.c-dropdown {
  display: inline-block;
}