@import '../common/var.scss';
@import '../common/mixins/mixins.scss';

.c-icon {
  font-size: inherit;

  .c-icon-text {
    display: none !important;
  }

  @each $c, $v in $colors {
    @include when('#{$color-prefix}-#{$c}') {
      color: $v;
    }
  }
}