@import '../common/var.scss';
@import '../common/functions.scss';
@import '../common/mixins/mixins.scss';

.c-navbar {
  width: 100%;
  position: relative;
  height: 64px;
  line-height: 64px;
  box-shadow: $box-shadow-light;

  a:hover {
    text-decoration: none !important;
  }

  @each $c, $v in $colors {
    @include when('#{$color-prefix}-#{$c}') {
      background-color: $v;

      .c-navbar-content {
        color: color-contrast($v);
      }
      a:not([is-title]).c-navbar-item:hover {
        background-color: mix($v, #ffffff, 15%);
        color: $v;
      }
    }
  }

  @include when('flat') {
    box-shadow: none;
  }

  @include when('fixed') {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  @include when('dense') {
    height: 48px;
    line-height: 48px;
  }

  .c-navbar-content {
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    padding: 0 16px;
    display: flex;
    align-items: center;
    font-size: $font-size-base;
  }

  .c-navbar-item {
    //line-height: 64px;
    height: 100%;
    padding: 0 16px;
    font-size: 1.1em;
    transition: all .3s;
    text-decoration: none;
    color: inherit;

    &[is-title] {
      font-size: 1.25rem;
    }
  }

  a:not([is-title]).c-navbar-item:hover {
    background-color: $bg-color-default-base;
  }

  .c-navbar-group {
    display: flex;
  }
}

.c-flex-grow {
  flex-grow: 1;
}