@import '../common/var.scss';
@import '../common/mixins/mixins.scss';
@import '../common/mixins/textarea.scss';
@import '../common/functions.scss';

.c-textarea {
  position: relative;
  font-size: $font-size-base;
  display: inline-block;
  width: 100%;

  @include when('is-disabled') {
    .c-textarea-input {
      cursor: not-allowed;
      background-color: $bg-color-default-base;
      color: $font-color-mute;
    }
  }

  @include when('is-readonly') {
    .c-textarea-input {
      color: $font-color-mute;
    }
  }

  .c-textarea-input {
    width: 100%;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: $border-radius-base;
    border: 1px solid $border-color-base;
    display: inline-block;
    font-size: $font-size-base;
    line-height: inherit;
    font-family: inherit;
    padding: 8px 10px;
    outline: none;
    transition: border .3s;
    resize: vertical;

    &:hover {
      border: 1px solid $border-color-medium;
    }

    &:focus {
      outline: none;
      border: 1px solid $primary-color;
    }

    .c-textarea-hint {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: $font-color-secondary;
      padding: 2px 5px;
      font-size: $font-size-sm;
    }
  }

  @each $c, $v in $colors {
    @include when('#{$color-prefix}-#{$c}') {
      @include make-colored-textarea($v)
    }
  }
}