@import '../common/var.scss';
@import '../common/functions.scss';
@import '../common/mixins/mixins.scss';
@import '../common/mixins/tooltip.scss';

.c-tooltip {
  display: inline-block;

  .c-tooltip-popper {
    font-size: $font-size-base;
    box-shadow: $box-shadow-lighter;
    padding: 5px 10px;
    margin: 6px 0;
    z-index: 9;
    background-color: $bg-color-default-dark;
    color: #ffffff;
    border-radius: $border-radius-base;
  
    &[x-placement=bottom], &[x-placement=top] {
      .c-tooltip-arrow {
        left: 50%;
        margin-left: -6px;
      }
    }
  
    &[x-placement=left], &[x-placement=right] {
      .c-tooltip-arrow {
        top: 50%;
        margin-top: -6px;
      }
    }

    &[x-placement=bottom-end], &[x-placement=top-end] {
      .c-tooltip-arrow {
        right: 16px;
      }
    }

    &[x-placement=left-end], &[x-placement=right-end] {
      .c-tooltip-arrow {
        bottom: 8px;
      }
    }
  
    &[x-placement^=left] {
      margin-right: 10px;
      .c-tooltip-arrow {
        right: -6px;
        border-width: 6px 0 6px 6px;
        border-left-color: $border-color-dark;
      }
    }
  
    &[x-placement^=right] {
      margin-left: 10px;
      .c-tooltip-arrow {
        left: -6px;
        border-width: 6px 6px 6px 0;
        border-right-color: $border-color-dark;
      }
    }
  
    &[x-placement^=bottom] {
      margin-top: 10px;
      .c-tooltip-arrow {
        top: -6px;
        border-width: 0 6px 6px;
        border-bottom-color: $border-color-dark;
      }
    }
  
    &[x-placement^=top] {
      margin-bottom: 10px;
      .c-tooltip-arrow {
        bottom: -6px;
        border-width: 6px 6px 0;
        border-top-color: $border-color-dark;
      }
    }
  }

  @each $c, $v in $colors {
    @include when('#{$color-prefix}-#{$c}') {
      @include make-colored-tooltip($v);
    }
  }
}

.c-tooltip-arrow {
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  position: absolute;
}