@import '../common/functions.scss';
/* font-family
----------------------------------- */
$font-list: "Noto Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;

/* font-size
----------------------------------- */
$font-size-extra-large: 20px !default;
$font-size-large: 18px !default;
$font-size-medium: 16px !default;
$font-size-base: 14px !default;
$font-size-small: 13px !default;
$font-size-extra-small: 12px !default;

/* font-weight
----------------------------------- */
$font-weight-primary: 500 !default;
$font-weight-secondary: 100 !default;

/* line-height
----------------------------------- */
$line-height-base: 20px !default;
$line-height-dense: 14px !default;
$line-height-wide: 24px !default;

/* colors-list
----------------------------------- */
$color-prefix: 'color';

@import 'colors-palette';
@import '../custom-colors';

$cui-colors: map-merge($default-colors, $grey-colors);
$colors: map-merge($cui-colors, $custom-colors);

$primary-color: color('primary');
$secondary-coor: color('grey-600');

/* font-color
----------------------------------- */
$font-color-common: color('grey-800');
$font-color-title: color('grey-900');
$font-color-link: color('blue');
$font-color-secondary: color('grey-600');
$font-color-mute: color('grey-400');

/* buttons
----------------------------------- */
$button-lg-padding: 12px 15px;
$button-padding: 8px 12px;
$button-sm-padding: 5px 8px;
$button-mini-padding: 2px 5px;

$button-lg-icon-padding: 9px 12px;
$button-icon-padding: 5px 9px;
$button-sm-icon-padding: 2px 5px;
$button-mini-icon-padding: 0 2px;

$button-lg-round-padding: 12px;
$button-round-padding: 10px;
$button-sm-round-padding: 8px;
$button-mini-round-padding: 5px;

/* borders
----------------------------------- */
$border-radius-base: 4px;
$border-radius-round: 20px;

$border-color-light: color('grey-300');
$border-color-base: color('grey-400');
$border-color-medium: color('grey-500');
$border-color-dark: color('grey-600');

/* backgrounds
----------------------------------- */
$bg-color-default-light: color('grey-100');
$bg-color-default-base: color('grey-200');
$bg-color-default-medium: color('grey-300');
$bg-color-default-dark: color('grey-600');

/* input
----------------------------------- */
$input-lg-height: 43px;
$input-height: 36px;
$input-sm-height: 30px;
$input-mini-height: 24px;

/* elevation levels
----------------------------------- */
$box-shadow-lighter: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$box-shadow-light: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$box-shadow-medium: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$box-shadow-hard: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$box-shadow-harder: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

/* transtion rules
----------------------------------- */
$all-transition: all .3s cubic-bezier(.645,.045,.355,1) !default;
$fade-transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) !default;
$fade-linear-transition: opacity 200ms linear !default;
$md-fade-transition: transform 500ms cubic-bezier(0.23, 1, 0.32, 1), opacity 500ms cubic-bezier(0.23, 1, 0.32, 1) !default;
$border-transition-base: border-color .2s cubic-bezier(.645,.045,.355,1) !default;
$color-transition-base: color .2s cubic-bezier(.645,.045,.355,1) !default;