/* Mixins for Buttons
----------------------------------- */
@mixin make-colored-button($color) {
  @include set-colors($color);
  @include when-attr(disabled) {
    background-color: mix($color, #ffffff);
    border: 1px solid $border-color-base;
  }

  &:not([disabled]):hover, &:not([disabled]):focus, &:not([disabled]):active {
    border-color: mix($color, #ffffff, 80%);
    background-color: mix($color, #ffffff, 80%);
  }
}

@mixin make-flat-button($color) {
  color: $color;
  background-color: transparent;
  border: 0;

  @include when-attr(disabled) {
    color: mix($color, #ffffff);
  }

   &:not([disabled]):hover, &:not([disabled]):focus, &:not([disabled]):active {
    background-color: mix($color, #ffffff, 20%);
  }
}

@mixin make-text-only-button($color) {
  color: $color;
  background-color: transparent;
  border: none;

  @include when-attr(disabled) {
    color: mix($color, #ffffff);
  }

  &:not([disabled]):hover, &:not([disabled]):focus, &:not([disabled]):active {
    color: darken($color, 10%);
    background-color: transparent;
  }
}

@mixin make-outlined-button($color) {
  color: $color;
  border: 1px solid $color;
  background-color: #ffffff;

  @include when-attr(disabled) {
    border: 1px solid mix($color, #ffffff);
    color: mix($color, #ffffff);
  }

   &:not([disabled]):hover, &:not([disabled]):focus, &:not([disabled]):active {
    background-color: $color;
    color: get-font-color-by-background($color);
  }
}
