@import 'mixins';

/* Mixins for Inputs
----------------------------------- */
@mixin make-colored-input($color) {
  .c-input-input {
    border-color: mix($color, #ffffff, 50%);

    &:focus {
      border-color: $color;
    }
  }

  @include when('prefix') {
    .c-input-prefix > .input-icon {
      color: mix($color, #ffffff, 60%);
    }
  }

  @include when('suffix') {
    .c-input-suffix > .input-icon {
      color: mix($color, #ffffff, 60%);
    }
  }
}

@mixin make-colored-input-group($color) {
  .c-input-prepend, .c-input-append {
    border-color: mix($color, #ffffff, 60%);
    background-color: mix($color, #ffffff, 20%);
    color: $color;
  }
}