/* Basic [semantic]
----------------------------------- */
@mixin when($state) {
  @at-root {
    &.#{$state} {
      @content;
    }
  }
}

@mixin when-attr($attr) {
  @at-root {
    &[#{$attr}] {
      @content;
    }
  }
}

@mixin set-colors($color) {
  background-color: $color;
  color: get-font-color-by-background($color);
  border: 1px solid $color;
}