/* Mixins for Radios
----------------------------------- */
@mixin make-colored-radio($color) {
  @include when('is-checked') {
    color: $color;
  }

  .c-radio-inner {
    @include when('is-checked') {
      background-color: $color;
    }

    &::after {
      transition: transform .2s ease-in;
    }
  }
}

@mixin make-colored-radio-button($color) {
  &:hover {
    color: $color;
  }
  
  @include when('is-active') {
    .c-radio-btn-inner {
      border-color: $color;
      background: $color;
      color: get-font-color-by-background($color);
    }
  }
}